<a
  pButton
  routerLink="/customers/list"
  style="text-decoration: none"
  label="უკან დაბრუნება"
  icon="pi pi-arrow-left"
  class="p-button-text"
></a>
<br /><br />
<!-- obs = {{ obs$ | async | json }} -->
<br /><br />
<form [formGroup]="form" *ngIf="lookups" (submit)="submit()">
  <div class="p-fluid p-formgrid p-grid">
    <!-- სახელი -->
    <div class="p-field p-col-3 p-md-3">
      <label for="firstname">სახელი</label>
      <input
        id="firstname"
        formControlName="firstName"
        class="p-inputtext-sm"
        [class.ng-touched]="firstName.touched"
        type="text"
        pInputText
      />
      <div class="field-error">
        <p
          class="field-error--description"
          *ngIf="
            (firstName.touched || submitted) &&
            !firstName.errors?.required &&
            (firstName.errors?.minlength || firstName.errors?.maxlength)
          "
        >
          <p-message
            severity="error"
            [styleClass]="'default-form-error'"
            text="მინ-2, მაქს - 50"
          ></p-message>
        </p>
        <p
          class="field-error--description"
          *ngIf="(firstName.touched || submitted) && firstName.errors?.required"
        >
          <p-message
            severity="error"
            [styleClass]="'default-form-error'"
            text="სავალდებულოა"
          ></p-message>
        </p>
        <p
          class="field-error--description"
          *ngIf="
            (firstName.touched || submitted) &&
            !firstName.errors?.required &&
            firstName.errors?.accapted_only_single_language
          "
        >
          <p-message
            severity="error"
            [styleClass]="'default-form-error'"
            [text]="firstName.errors?.accapted_only_single_language"
          ></p-message>
        </p>
      </div>
    </div>
    <!-- გვარი -->
    <div class="p-field p-col-3 p-md-3">
      <label for="lastname">გვარი</label>
      <input
        id="lastname"
        formControlName="lastName"
        class="p-inputtext-sm"
        type="text"
        pInputText
      />
      <div class="field-error">
        <p
          class="field-error--description"
          *ngIf="
            (lastName.touched || submitted) &&
            !lastName.errors?.required &&
            (lastName.errors?.minlength || lastName.errors?.maxlength)
          "
        >
          <p-message
            severity="error"
            [styleClass]="'default-form-error'"
            text="მინ-2, მაქს - 50"
          ></p-message>
        </p>
        <p
          class="field-error--description"
          *ngIf="(lastName.touched || submitted) && lastName.errors?.required"
        >
          <p-message
            severity="error"
            [styleClass]="'default-form-error'"
            text="სავალდებულოა"
          ></p-message>
        </p>
        <p
          class="field-error--description"
          *ngIf="
            (lastName.touched || submitted) &&
            !lastName.errors?.required &&
            lastName.errors?.accapted_only_single_language
          "
        >
          <p-message
            severity="error"
            [styleClass]="'default-form-error'"
            [text]="lastName.errors?.accapted_only_single_language"
          ></p-message>
        </p>
      </div>
    </div>
    <!-- სქესი -->
    <!-- (onChange)="genderId.setValue(+$event.value.id)"
        (onBlur)="genderId.markAsTouched()" -->
    <!-- <p>form.value = {{ this.form.getRawValue() | json }}</p> -->
    <div class="p-field p-col-3 p-md-3">
      <label for="genderId">სქესი</label>
      <p-dropdown
        inputId="genderId"
        [options]="lookups.gender"
        optionLabel="name"
        optionValue="id"
        dataKey="id"
        formControlName="genderId"
        [class.ng-invalid]="!genderId.valid && genderId.touched"
        [class.ng-valid]="genderId.valid"
        class="p-inputtext-sm"
        placeholder="აირჩიეთ მნიშვნელობა"
        optionLabel="name"
      ></p-dropdown>
      <div class="field-error">
        <p
          class="field-error--description"
          *ngIf="(genderId.touched || submitted) && genderId.errors?.required"
        >
          <p-message
            severity="error"
            [styleClass]="'default-form-error'"
            text="სავალდებულოა"
          ></p-message>
        </p>
      </div>
    </div>
    <!-- პირადი ნომერი -->
    <div class="p-field p-col-3 p-md-3">
      <label for="personalNumber">პირადი ნომერი</label>
      <input
        id="personalNumber"
        formControlName="personalNumber"
        class="p-inputtext-sm"
        type="text"
        maxlength="11"
        pInputText
      />
      <div class="field-error">
        <p
          class="field-error--description"
          *ngIf="
            (personalNumber.touched || submitted) &&
            personalNumber.errors?.required
          "
        >
          <p-message
            severity="error"
            [styleClass]="'default-form-error'"
            text="სავალდებულოა"
          ></p-message>
        </p>
        <p
          class="field-error--description"
          *ngIf="
            (personalNumber.touched || submitted) &&
            !personalNumber.errors?.required &&
            personalNumber.errors?.pattern
          "
        >
          <p-message
            severity="error"
            [styleClass]="'default-form-error'"
            text="არავალიდური ფორმატი. 11 ციფრი"
          ></p-message>
        </p>
      </div>
    </div>
    <!-- მობილური -->
    <div class="p-field p-col-3 p-md-3">
      <label for="phone">მობილური</label>
      <input
        id="phone"
        class="p-inputtext-sm"
        formControlName="phone"
        type="text"
        pInputText
      />
      <div class="field-error">
        <p
          class="field-error--description"
          *ngIf="(phone.touched || submitted) && phone.errors?.required"
        >
          <p-message
            severity="error"
            [styleClass]="'default-form-error'"
            text="სავალდებულოა"
          ></p-message>
        </p>
        <p
          class="field-error--description"
          *ngIf="
            (phone.touched || submitted) &&
            !phone.errors?.required &&
            phone.errors?.invalid_format
          "
        >
          <p-message
            severity="error"
            [styleClass]="'default-form-error'"
            [text]="phone.errors?.invalid_format"
          ></p-message>
        </p>
      </div>
    </div>
  </div>

  <!-- იურიდიული მისამართი -->
  <app-address-form
    (userHasIdenticaladdresses)="updateAddresses($event)"
    [addressFormGroup]="legalAddress"
    [formType]="addressFormTypes.LEGAL"
  ></app-address-form>
  <!-- ფაქტიური მისამართი -->
  <app-address-form
    [addressFormGroup]="actualAddress"
    [formType]="addressFormTypes.ACTUAL"
  ></app-address-form>
  <br /><br />
  <!-- ფოტოსურათი -->
  <div class="p-fluid p formgrid p-grid">

    <!-- mode="basic" -->
    <p class="p-mx-2" *ngIf="customerImage.value">
        <img [src]="customerImage.value" width="200" alt="img">
    </p>
    <p-fileUpload
    name="myfile[]"

    chooseLabel="აირჩიეთ ფაილი"
    [accept]="'image/*'"
    [auto]="true"
    [customUpload]="true"
    (onRemove)="removeEvent($event)"
    (uploadHandler)="myUploader($event)"
  ></p-fileUpload>
  </div>
  <br /><br />
  <button pButton type="submit" label="შენახვა"></button>
</form>
